<h1>Sign Up</h1>
<form method="POST" action="/signup">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </div>
    <button>Register ! </button>
</form>