<h1>Login Page</h1>
<form method="POST" action="/signin">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </div>
    <button>Login !</button>
</form>

{{#if errorMessage}}
    <p>{{errorMessage}}</p>
{{/if}}